<p id="notice"><%= notice %></p>

<h1>Calls</h1>

<table>
  <thead>
    <tr>
      <th>Caller</th>
      <th>Callee</th>
      <th>Time</th>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.source_number.number %></td>
        <td><%= call.target_number.number %></td>
        <td><%= call.time %></td>
        <td><%= call.call_length %></td>
        <td><%= link_to 'View', call %></td>
        <% if  admin_user_signed_in? %>
          <td><%= link_to 'Edit', edit_call_path(call) %></td>
          <td><%= link_to 'Delete', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if  admin_user_signed_in? %>
  <%= link_to 'New Call', new_call_path %>
<% end %>