<p id="notice"><%= notice %></p>

<dl>
  <dt>
    Name:
  </dt>
  <dd>
    <%=@plan.name %>
  </dd>
  <dt>
    Price:
  </dt>
  <dd>
    <%=@plan.price %>
  </dd>
</dl>

<h2>Numbers:</h2>

<table>
  <thead>
  <tr>
    <th>Number:</th>
    <th colspan="3">Actions:</th>
  </tr>
  </thead>
  <tbody>
  <% @plan.numbers.each do |number|%>
    <tr>
      <td><%= number.number %></td>
      <td><%= link_to 'View', number %></td>
      <% if  admin_user_signed_in? %>
        <td><%= link_to 'Edit', edit_number_path(number) %></td>
        <td><%= link_to 'Delete', number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% if  admin_user_signed_in? %>
  <%= link_to 'Edit', edit_plan_path(@plan) %> |
<% end %>
<%= link_to 'All plans', plans_path %>
