<!DOCTYPE html>
<html>
  <head>
    <title>Phone app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'Customers', customers_path %>
      <%= link_to 'Plans', plans_path %>
      <%= link_to 'Cities', cities_path %>
      <%= link_to 'Numbers', numbers_path %>
      <%= link_to 'Calls', calls_path %>
    </header>
    <%= yield %>
  </body>
</html>
